<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="root">
        <form @submit.prevent="demo">
            account: <input type="text" v-model.trim="user_info.account"><br /><br />
            password:<input type="password" v-model="user_info.password"><br /><br />
            male<input type="radio" name="sex" value="male" v-model="user_info.sex">
            female<input type="radio" name="sex" value="female" v-model="user_info.sex">
            no comment<input type="radio" name="sex" value="" v-model="user_info.sex"><br /><br />
            age:<input type="number" v-model.number="user_info.age"><br /><br />
            hobby:
            learn<input type="checkbox" name="" v-model="user_info.hobby" value="learn">
            read<input type="checkbox" name="" v-model="user_info.hobby" value="read">
            write<input type="checkbox" name="" v-model="user_info.hobby" value="write">
            <br /><br />
            location:
            <select v-model="user_info.city">
                <option value="">select address</option>
                <option value="shang hai">shang hai</option>
                <option value="hang zhou">hang zhou</option>
                <option value="bei jing">bei jing</option>
                <option value="guang zhou">guang zhou</option>
            </select>
            <br /><br />
            description:<br />
            <textarea v-model.lazy="user_info.desc"></textarea>
            <br /><br />
            <input type="checkbox" v-model="user_info.agreement">accept
            <br /><br />
            <button>submit</button>

        </form>
    </div>
</body>
<script>
    Vue.config.productionTip = false;
    vm = new Vue({
        el: '#root',
        data() {
            return {
                user_info: {
                    account: '',
                    password: '',
                    sex: '',
                    age: '',
                    hobby: [],
                    city: '',
                    desc: 'enter',
                    agreement: '',
                }
            }
        },
        methods: {
            // submit() {
            //     console.log(this);
            // },
            demo() {
                console.log(JSON.stringify(this.user_info));
            }
        },
    })
</script>

</html>