<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="root">
        <form>
            account: <input type="text" v-model="account"><br /><br />
            password:<input type="password" v-model="password"><br /><br />
            male: <input type="radio" name="sex">
            female:<input type="radio" name="sex"><br /><br />
            hobby:
            learn<input type="checkbox" name="">
            read<input type="checkbox" name="">
            write<input type="checkbox" name="">
            <br /><br />
            location:
            <select>
                <option value="">select address</option>
                <option value="shang hai">shang hai</option>
                <option value="hang zhou">hang zhou</option>
                <option value="bei jing">bei jing</option>
            </select>
            <br /><br />
            description:<br />
            <textarea></textarea>
            <br /><br />
            <input type="checkbox">accept
            <br /><br />
            <button>submit</button>
        </form>
    </div>
</body>
<script>
    Vue.config.productionTip = false;
    vm = new Vue({
        el: '#root',
        data() {
            return {
                account: '',
                password: '',
                sex: '',
            }
        }
    })
</script>

</html>