<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vue.vuebackend.mapper.CarMapper">
    <resultMap id="BaseMap" type="com.vue.vuebackend.domain.Car">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="content" property="price"></result>

        <!--        <association property="user"-->
        <!--                     resultMap="com.example.ademo.mapper.UserMapper.BaseMap"-->
        <!--                     columnPrefix="u_">-->
        <!--        </association>-->
    </resultMap>

</mapper>
