<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="root">
        Last Name:<input type="text" v-model="last"><br /><br />
        First Name:<input type="text" v-model="first"><br /><br />
        Full Name: <span>{{full}}</span>
    </div>
    <script>
        Vue.config.productionTip = false;
        const vm = new Vue({
            el: '#root',
            data() {
                return {
                    last: 'ren',
                    first: 'frank',
                };

            },
            computed: {
                full: {
                    get() {
                        // console.log(this);
                        let fullname = this.last + '.' + this.first;
                        return fullname;
                    },
                    set(value) {
                        console.log(value);
                        const arr = value.split('.');
                        this.last = arr[0];
                        this.first = arr[1];
                    }
                }
            },
        })
    </script>
</body>

</html>